body {
    background: #bca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-sizing: border-box;
}

h1 {
    background: #abc;
}

li{
    display: inline;
    box-sizing: border-box;
    margin-left: -2em;
    padding-right: 3em;
    list-style-type: none;
    text-decoration: none;
}

nav, form, div {
    background: #ccc;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*margin: 0px;*/
    
}

form > label, input, textarea {
    display: block;
    /*padding: 1em; */  
}

label {
    padding-top: 100px; /* Why is this ignored? */
}

footer {
    background: #abc;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: auto;
    padding: 0px;
}

footer li {
    margin: auto;
    text-align: center;
}

